@using CallTracking.Web.Extensions
@model IEnumerable<Twilio.Rest.Api.V2010.Account.AvailablePhoneNumberCountry.LocalResource>

<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Purchase a new phone number</h1>
        </div>
        <p>
            The number you choose will be used to create a Lead Source. On the next page, you will set a name and forwarding number for this lead source.
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var phoneNumber in Model.Take(10))
            {
                <tr>
                    <td>@phoneNumber.FriendlyName</td>
                    <td>
                        @Html.PostLink("Purchase", "create", "leadsources", new {phoneNumber = @phoneNumber.PhoneNumber}, new {@class = "btn btn-primary btn-xs"})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>